.intro {
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom:3px;
}

h2 {
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 0px;
}

.stack-images {
  margin: 10px;
}

.stack-icon {
  margin-left: .8em;
  margin-right: .8em;
  height: 2.5em;
  width: 2.5em;
  border-radius: 10px;
  border: 1px solid rgb(6, 6, 245);
}

.small-name {
  font-size: 55px;
  font-weight: bold;
  background: -webkit-linear-gradient(
    -55deg,
    rgb(255, 232, 101),
    gold,
    rgb(255, 136, 0), 
    rgb(255, 94, 0),
    rgb(255, 10, 71), 
    purple,
    rgb(98, 6, 245),
    rgb(6, 6, 245),
    rgb(6, 6, 245),
    rgb(6, 6, 245));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.jumbo {
  height: auto !important;
}

@media screen and (min-width: 768px) {
 .smallscreen-only {
  display: none;
 }
}

@media screen and (max-width: 767px) {
  .bigscreen-only {
    display: none;
  }
}


.neon {
  overflow: hidden;
  filter: brightness(150%);
  width: fit-content;
  margin: auto;
}

.name {
  background-color: black;
  font-size: 60px;
  font-weight: bold;
  position: relative;
  user-select: none;
}

.gradient {
  position: absolute;
  border-top: 9px solid black;
  border-bottom: 10px solid black;
  background: linear-gradient(gold, rgb(255, 102, 0), purple, rgb(6, 6, 245));
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
}

.spotlight {
  position: absolute;
  border-left: 35px solid black;
  border-right: 35px solid black;
  top: -100%;
  left: -100%;
  right: 0;
  bottom: 0;
  background: 
      radial-gradient(
          circle,
          white,
          transparent 25%
      ) center / 25% 25%,
      radial-gradient(
          circle,
          white,
          black 25%
      ) center / 12.5% 12.5%;
  animation: light 16s linear infinite;
  mix-blend-mode: color-dodge;
}

@keyframes light {
  to {
      transform: translate(50%, 50%);
  }
}