.home {
  text-align: center;
  color: white;
}

.home-sections {
  font-weight: bold;
  margin-top: 1.5em;
}

.home-contact-icon {
  margin-left: .8em;
  margin-right: .8em;
  height: 2.5em;
  width: 2.5em;
  border-radius: 10px;
  border: 1px solid rgb(255, 55, 155);
}

.project-icon {
  height: 10em;
  width: 10em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  border-radius: 10px;
  border: 1px solid purple
}