.resume-page {
  width: fit-content;
  height: auto;
  text-align: center;
}

.object {
  max-width: 75%;
  height: auto;
}

.resume {
  max-width: 75%;
  height: auto;
}

.pdf {
  width: 100%;
  aspect-ratio: 4 / 3;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h3 {
  text-align: center;
}